{% extends "base.html" %}

{% block header %}Home{% endblock %}

    {% block content %}
  <main>
    <section>
      <article>
        <h3>
          Pages on this site
        </h3>
        <dl>
          <dl>
            Customers
          </dl>
          <dd>
            Manage customer data including name and address
          </dd>

          <dl>
            Employees
          </dl>
          <dd>
            Manage employee data including name and salary
          </dd>


          <dl>
            Products
          </dl>
          <dd>
            Manage products data including type and price
          </dd>

          <dl>
            Transactions
          </dl>
          <dd>
            Manage transaction data including customer who purchased, employee who assisted, product id, date
          </dd>


        </dl>

        {% endblock %}