<!-- # Citation for the following code:
# Date: 05/19/2024
# Copied from: CS 340 Flask Guide
# Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->

{% extends "base.html" %}

{% block header %} Transactions {% endblock %}

        {% block content %}


        <script>
            var productData = {{ data["products"] | tojson | safe }};
        </script>
        <!-- <input type="hidden"  id="productData" value=productData> -->

        <div id="browse">
            {% with data=data["transactions"] %}
                {% include "table.html" %}
            {% endwith %}
        <p>&nbsp;</p>
        </div>	<!-- browse -->
        
         <div id="insert">
            <!-- form to INSERT new data into product-->
            <form id="insertTransaction" action="/transactions" method="post">
                <legend><strong>Record Transaction</strong></legend>
                <fieldset>
                    <!-- Set the Date and Time -->
                    <h3>Date &amp; Time</h3>
                    <p> Select the Date and Time of the transaction. </p>
                    <!-- date-->
                    <label for="transactionDate">Purchase Date</label>
                    <input type="date" id="transactionDate" name="transactionDate" required/>

                    <!-- time -->
                    <label for="transactionTime">Time of Purchase</label>
                    <input type="time" id="transactionTime" name="transactionTime" required/>
                    
                    <h3>Customer</h3>
                    <p>Choose an existing customer or create a new entry on <a href="/customers">Customers page.</a></p>
                    <label for="selectCustomer">Select Customer</label>
                    <select id="selectCustomer" name="customer">
                    <!--     Dynamically Generate Customers Dropdown     -->
                        {% with data=data["customers"] %}    
                            {% for item in data %}
                                <!-- Create a <option> element with the value of that key as its ID -->
                                <option value="{{item["customerID"]}}">{{item["firstName"]}} {{item["lastName"]}}</option>
                        
                            <!-- End of this for loop -->
                            {% endfor %}
                        {% endwith %}
                    </select>


                    <h3>Employee</h3>
                    <p>Select the Employee who facilitated the transaction. Choose an existing employee or create a new entry on <a href="/employees">Employee page.</a></p>
                    <label for="selectEmployee">Select Employee</label>
                    <select id="selectEmployee" name="employee">
                    <!--     Dynamically Generate Employees Dropdown     -->
                        {% with data=data["employees"] %}
                            {% for item in data %}
                                <!-- Create a <option> element with the value of that key in it -->
                                <option value="{{item["employeeID"]}}">{{item["firstName"]}} {{item["lastName"]}}</option>
                            
                                <!-- End of this for loop -->
                            {% endfor %}
                        {% endwith %}
                    </select>


                    <h3>Products</h3>
                    <p>Choose an existing product or create a new entry on <a href="/products">Products page.</a></p>
                    <label for="selectProduct">Select Product</label>
                    <p id="productPlaceholder">
                    <select id="selectProduct" name="product">
                    <!--     Dynamically Generate Products Dropdown     -->
                        {% with data=data["products"] %}
                            {% for item in data %}
                                <!-- Create a <option> element with the value of that key in it -->
                                <option value="{{item["productID"]}}">{{item["name"]}}</option>
                            
                                <!-- End of this for loop -->
                            {% endfor %}
                        {% endwith %}
                    </select>
                    </p>

                    <!-- choose another product -->
                    <input type="button" onclick="addProduct()" value="Add Another Product" />
    
                    <script>
                        function addProduct(){
                            var productPlaceholder = document.getElementById('productPlaceholder');
                            let counter = 1
                            var newDropdown = document.createElement('select');
                            newDropdown.setAttribute('name', 'product');
                            productData.forEach(function(item) {
                                var option = document.createElement('option');
                                option.value = item.productID;
                                option.text = item.name;
                                newDropdown.appendChild(option);
                            });
                            const newP = document.createElement('p');
                            newP.setAttribute('id', counter);
                            productPlaceholder.appendChild(newP).innerText = "Choose a product: ";
                            newP.appendChild(newDropdown);
                            newP.innerHTML += `<input type="button" value="Remove" onclick=removeAddedProduct(${counter}) />`
                            counter += 1;
                        }

                        function removeAddedProduct(id){
                            const parent = document.getElementById('productPlaceholder');
                            const child = document.getElementById(id);
                            parent.removeChild(child);
                        }
                    </script>

                </fieldset>

                <!-- Create 'Add Product' and 'Cancel' buttons -->
                <input type="submit" value="Add Transaction" name="Add_Transaction" class="btn btn-primary" style="margin:.5rem;" />
                <input type="button" id="cancel" href="/transactions" value="Cancel"/>
            </form>
        </div><!--insert-->

        {% endblock %}